#services {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color:#1d1d1d;
      color: #fff;
    }

    .services-section {
      padding: 60px 8%;
    }

    .services-title {
    margin-top: 25px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    margin-bottom: 50px;
    color: white;
    animation: fadeSlideDown 1s ease-in-out;
  }

  .services-title::after {
    content: '';
    display: block;
    width: 100px;
    height: 4px;
    background-color: red;
    margin: 10px auto 0 auto;
    border-radius: 2px;
  }

    .services-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .services-left {
      flex: 1;
      max-width: 48%;
    }

    .service-box {
      display: flex;
      align-items: flex-start;
      margin-bottom: 40px;
    }

    .service-box img {
      width: 50px;
      margin-right: 20px;
      margin-top: 5px;
    }

    .service-box h3 {
      margin: 0;
      font-size: 18px;
      letter-spacing: 2px;
    }

    .service-box p {
      margin-top: 8px;
      font-size: 14px;
      color: #ccc;
      line-height: 1.6;
    }

    .services-right {
      flex: 1;
      max-width: 48%;
    }

    .services-right video {
      width: 100%;
      border: 3px solid #000;
    }

    @media (max-width: 768px) {
      .services-content {
        flex-direction: column;
      }

      .services-left,
      .services-right {
        max-width: 100%;
      }

      .service-box {
        margin-bottom: 30px;
      }
    }